<section class="section-accueil">

    {{> menuLeft}}

    <div class="tweet-container">
        <div class="tweet-container-title">
            <h3>{{firstName}} {{lastName}}</h3>
        </div>
        <div class="tweet-container-profile">
            <div class="tweet-container-profile-background">
                <img src="" alt="">
            </div>
            <div class="tweet-container-profile-picture">
                <img src="{{picture}}" alt="">
            </div>
            <div class="tweet-container-profile-infos">
                <h3>{{firstName}} {{lastName}}</h3>
                <h4>@{{username}}</h4>
                <p>{{city}}</p>
            </div>
        </div>

    {{> tweet}}

    </div>

    {{> suggestionRight}}

</section>